<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /srkc/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /srkc/index.php [L]
</IfModule>

